<mat-sidenav-container class="sidenav-container"  *ngIf="user$ | async as user">
    <mat-sidenav #drawer fixedInViewport="true" [attr.role]="isHandset ? 'dialog' : 'navigation'"
                 [mode]="isHandset ? 'over' : 'side'" [opened]="sideNavState">
        <mat-nav-list >
            <mat-list-item  (click)="closeSideNav()">
                <mat-icon matListIcon>home</mat-icon>
                <a routerLink="/" matLine>Home</a>
            </mat-list-item>
            <mat-list-item  (click)="closeSideNav()">
                <a routerLink="/expense">Expenses</a>
            </mat-list-item>
            <mat-list-item  (click)="closeSideNav()">
                <a routerLink="/expense-type">Expense Types</a>
            </mat-list-item>
            <mat-list-item  (click)="closeSideNav()">
                <a routerLink="/attachment">Attachments</a>
            </mat-list-item>
            <mat-list-item  (click)="logout(); closeSideNav()">
                <mat-icon matListIcon>logout</mat-icon>
                 <a routerLink="/" matLine>Logout</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" *ngIf="isHandset">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span class="spacer"></span>
            <a mat-button routerLink="/expense/new" matTooltip="Add New"><mat-icon>add</mat-icon></a>

        </mat-toolbar><!-- END MOBILE MENU -->


        <ng-container *ngIf="!isHandset">
            <mat-toolbar color="primary">
                <nav>
                    <a mat-button routerLink="/">Home</a>
                    <a mat-button routerLink="/expense">Expenses</a>
                    <a mat-button routerLink="/expense-type">Expense Types</a>

                </nav>
                <span class="spacer"></span>
                <nav>
                    <a mat-button (click)="logout()" matTooltip="Logout"><mat-icon>logout</mat-icon> Logout</a>
                </nav>

                <!--        {{isHandset ? 'over' : 'side'}}-->
            </mat-toolbar>
        </ng-container>

        <div  fxLayout="row"  style="padding-top: 5px; padding-left: 5px; padding-right: 5px;">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>
<ng-container *ngIf="!(user$ | async)">
    <router-outlet></router-outlet>
</ng-container>
